
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
    <label for="exampleInputName" class="form-label">User Name</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="textHelp" name="username">

  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password2">
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>
</form>
</div>
{% endblock content %}